@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

@font-face {
  font-family: 'Dancing';
  src: url('/fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-red: #c00a32;
  --color-black: #333;
  --font-dancing: "Dancing", cursive;
  --font-lato: "Lato", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.clip-bottom-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

.clip-diagonal-right {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-from-right {
  opacity: 0;
  transform: translateX(100px);
}

.slide-from-left {
  opacity: 0;
  transform: translateX(-100px);
}

.slide-from-right.visible {
  animation: slideFromRight 0.8s ease-out forwards;
}

.slide-from-left.visible {
  animation: slideFromLeft 0.8s ease-out forwards;
}

@keyframes curtainLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes curtainRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.mobile-curtain-left {
  animation: curtainLeft 1.5s ease-in-out 0.5s forwards;
}

.mobile-curtain-right {
  animation: curtainRight 1.5s ease-in-out 0.5s forwards;
}